---
- hosts: localhost
  connection: local
  roles:
    - common
    - role: macos
      when: ansible_os_family == "Darwin"
    - role: codespaces
      when: ansible_env.CODESPACES is defined and ansible_env.CODESPACES == "true"
